env/
2_MachineLearning/Data/
2_MachineLearning/modelo_cnn_deteccion_mascarillas_AG_MT_V1/
2_MachineLearning/modelo_cnn_deteccion_mascarillas_AG_MT_V2/
2_MachineLearning/modelo_cnn_deteccion_mascarillas_AG_MT_V3/
